<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <link rel="stylesheet" href="/main.css" />
        <title>Detail - Stock</title>
        <link href="/main.css" rel="stylesheet" />
    </head>
    <body class="white-bg">
        <%- include('nav.ejs')%> <%- include('navbar-bottom.ejs')%>
        <div class="detail-bg">
            <p>email <%=currentparam.email %></p>
            <p>ph <%=currentparam.ph %></p>
            <p>R_name <%=currentparam.R_name %></p>
        </div>
    </body>
</html>
