<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit - Stock</title>
        <link href="/main.css" rel="stylesheet" />
    </head>
    <body class="grey-bg">
        <%- include('nav.ejs')%>
        <!-- form태그를써야post요청가능 -->
        <form class="form-box" action="/edit?_method=PUT" method="POST">
            <h4>수정하기</h4>
            <input name="id" value="<%=result._id%>" style="display: none" />
            <input name="email" value="<%=result.email%>" />
            <input name="ph" value="<%=result.ph%>" />
            <button type="submit">전송</button>
        </form>
        <%- include('navbar-bottom.ejs')%>
    </body>
</html>
